body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #00cc00; /* Verde para DCT */
    padding: 20px;
    text-align: center;
    color: white;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
}

.service {
    flex: 1;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: black;
}

.priority {
    background-color: #800080; /* Morado para Priority */
    color: white;
}

.arch {
    background-color: #f0f0f0; /* Gris claro para Arch */
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
